pandas==2.2.0
numpy==1.26.3
ConfigArgParse==1.7
tqdm==4.66.1
scipy==1.12.0
matplotlib==3.8.2
scikit-learn==1.4.0
jax==0.4.13
seaborn==0.13.2
xgboost==2.0.3
chex==0.1.8
flax==0.7.4
setuptools==68.2.0
click==8.1.7
networkx==3.2.1
future==0.18.3
Cython==3.0.8
requests==2.31.0
validators==0.22.0
psutil~=5.9.8